name: Build & Push (Docker Hub)

on:
  push:
    branches: [ master ]   # dispara el CI en cada push a main

jobs:
  build:
    runs-on: ubuntu-latest           # corre en la nube de GitHub
    steps:
      - uses: actions/checkout@v4    # descarga tu repo

      - uses: docker/setup-buildx-action@v3  # habilita builder multi-arquitectura

      - uses: docker/login-action@v3        # hace login en Docker Hub
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}   # guarda esto en repo->Settings->Secrets
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v6   # construye y SUBE la imagen
        with:
              context: .
              push: true
              platforms: linux/arm64/v8
              tags: |
                ivo196/streamlit-chat-gemini:latest
                ivo196/streamlit-chat-gemini:${{ github.sha }}

