name: Deploy (Kubernetes)

on:
  workflow_run:
    workflows: ["Build & Push (Docker Hub)"]  # se dispara cuando el CI termina OK
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success'}}
    runs-on: [self-hosted, Linux, ARM64]

    steps:
      - name: Context K8s
        run: |
          kubectl --kubeconfig /home/ivo196/.kube/config get nodes -o wide
          kubectl --kubeconfig /home/ivo196/.kube/config get pods -o wide
      
      - name: Rollout Deployment
        run: |
          kubectl --kubeconfig /home/ivo196/.kube/config rollout restart deployment/streamlit-app
          kubectl --kubeconfig /home/ivo196/.kube/config rollout status  deployment/streamlit-app --timeout=180s

